button{
    align-items: center;
    background-color: rgb(1, 13, 8);
    color: azure;
    height: 30px;
    width: 80px;
}
button:hover{
    border-radius: 30px;
    transition: .000000005s;
    
}
body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
div
{
    background-color: white;
    width: 220px;
    border: 5px solid black;
    border-color: black;
    padding: 70px;
    margin: 50px;
    align-items: center;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 40px;
}